@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

* {
    box-sizing: border-box;
  }
body {
    background-image: url('https://data.1freewallpapers.com/download/starry-sky-stars-space-glitter.jpg');
    background-size: cover; 
}
.navbar {
    font-family: 'Kanit', sans-serif;
    background: #1A3F67;
}
.navbar-light .navbar-brand{
    color: rgba(255, 252, 74, 0.918);
    font-size: 250%;
}
.navbar-light .navbar-nav .active .nav-link{
    color: #A1C2DD;
}
.navbar-light .navbar-nav .nav-link{
    color: #A1C2DD;
}
body h1 {
    font-weight: normal;
    color: rgb(131, 103, 12);
    text-decoration: underline;
    text-align: center;
} 

main ul {
    position: relative;
    top: 100%;
    padding: 50px;
    width: 1000px;
    height: 200px;
    left: 38%;
    padding-top: 50px;
    margin-left: -400px;
    margin-top: -60px;
}
@media (max-width: 576px) {
   main ul, #section-carousel{
    display:none;
}   
   }
main ul>li {
    width: 40%;
    /*list-style-type: none;*/
    position: absolute;
    top: 20;
    padding: 80px;
    height: 80px;
    opacity: 0;
    padding-top: 10px;
    text-align: center;
    transition: 1s opacity;
}
@media (max-width: 576px) {
    main ul>li, #section-carousel{
     display:none;
    }}
section {
       padding-top: 30px;
}

.row {
    padding-top: 40px;
}

.active {
    opacity: 1;
}
  
 p {
    font-family: sans-serif;
    font-size: 13px;
    color: #646566;
    line-height: 1.5em;
}
.btn-outline-success {
    color: #A1C2DD;
    border-color: #A1C2DD;
}
/*Section Genders*/
.btn-gende{
    margin: 1%;
    padding-left: 5%;
    padding-right:5%;
    padding-top: 2%;
    padding-bottom:2%;
    width: 30%  
}
@media (max-width: 576px) {
   .btn-gende{
        padding: 5%;
        margin-top: 1%;
        margin-bottom: 0,5%x;
        width: 40%;
}
}
#card-gender{
    margin-bottom: 2%;
}
#row-gen{
    padding: 0%;
}
#drama{
    background-color: #61ca84;
    border-color: #61ca84;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#comedy{
        background-color: #e49f1f;
        border-color: #e49f1f;
        color: white;
        font-family: 'Kanit', sans-serif;
}
#romance{
    background-color: #4a0cbd;
    border-color: #4a0cbd;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#cifi{
    background-color: #fa147f;
    border-color: #fa147f;
    color: white;
    font-family: 'Kanit', sans-serif;
}

#horror{
    background-color: #0f2f1c;
    border-color: #0f2f1c;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#action{
    background-color: #e23f17;
    border-color: #e23f17;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#fantasy{
    background-color: #ddce00;
    border-color: #ddce00;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#western{
    background-color: #a158e6;
    border-color: #a158e6;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#musical{
    background-color: #3fb32a;
    border-color: #3fb32a;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#kids{
    background-color: #36afa9;
    border-color: #36afa9;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#animation{
    background-color: #af3636;
    border-color: #af3636;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#docu{
    background-color: #e6640e;
    border-color: #e6640e;
    color: white;
    font-family: 'Kanit', sans-serif;
}
#titulo-container-gen,#titulo-container-reco,#resultText{
    background-color: #040E28;
    opacity: 0.8;
    font-family: 'Kanit', sans-serif;
    margin-top:1%;
}
.gender-complete, .reco-complete{
    display: none;
}
.container-reco, .container-gen{
    margin-left: 1%;
    display: block;
}
@media (max-width: 576px) {
    .container-reco, .container-gen{
margin-left: 12%;
    }
}
h5 {
color: #A1C2DD;
font-family: 'Kanit', sans-serif;
margin-left: 3%;
margin-bottom: 1%;
}
/* Section Card*/
#section-recom, .section-gen, .section-carousel{
    padding: 0%;
}

.section-carousel{
    display: block;
}
.card{
    margin: 1%;
    width: 100%;
    background-color:#1A356E; 
}
.card-body{
    margin:1%;
    padding: 5%;
    font-family: 'Kanit', sans-serif;
    background-color:#1A356E; ;
}

@media (max-width: 576px) {
    .card .card-body{
         padding: 2%;
         margin-top: 1%;
         margin-bottom: 0,5%;
         width: 100%;
    }}
h4, p{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #A1C2DD;;
}
/* Cards */
.btn-primary{
    background-color: #1A356E;
    color: #A1C2DD;
}
#tu-busqueda{
    color: #A1C2DD
}



